<% include partials/header %>

<div class="container">
  <form>
    <div style="width: 30%; margin: 100px 200px 100px 1000px ">
      <div class="form-group">
        <label for="userName">Registration Number</label>
        <input type="text" name="userName" id="userName" class="form-control" placeholder="Username">
        <small id="userNameHelp" class="form-text text-muted">Same as your registration number.</small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Password">
      </div>
        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
    </div>
  </form>
</div>

<% include partials/footer %>
