<% include ./partials/header %>

<% if(currentUser){ %>
  <div class="main">
    <div class="container">
      <div class="row">
        <div  class="col-md-3">
          <img class="img-fluid profile-image" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
          <h5><%= currentUser.name.first + " " + currentUser.name.last %></h5>
          <p >Age: 21 &nbsp;&nbsp;&nbsp; Gender: M</p>
        </div>
        
        <div class="col-md-9">
          <div>
            <h4>Personal Information <i class="profile-icon fas fa-edit"></i></h4>
            <hr class="profile-hr">
            <ul class="profile-list">
              <li><span>Registration Number:</span> 12512512</li>
              <li><span>Outlook ID:</span> xxasfasf@muj.manipal.edu</li>
              <li><span>Secondary Email:</span> ajasfjajgs@gmail.com</li>
              <li><span>Phone Number:</span> 9770240252</li>
            </ul>
            <h4>Academics<i class="profile-icon fas fa-edit"></i></h4>
            <hr class="profile-hr">
            <ul class="profile-list">
              <li>
                <span>Branch:</span> Information Technology</li>
              <li>
                <span>CGPA:</span> 7.9</li>
              <li>
                <span>Class 10th CGPA</span> 9.4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>Class 12th CGPA:</span> 9.0</li>
            </ul>
          </div>
        </div>
      </div>  
    </div>
  </div>
<% } %>

<% include ./partials/footer %>